const MillionDollarApp = () => (
  <div>
    <h1>Free App</h1>
    <TrackUserPersona>
      <Advertisment />

      <ErrorBoundary>
        <BetaFeature />
      </ErrorBoundary>
      
      <Advertisment />
    </TrackUserPersona>
  </div>
)