const ListItems = () => {
  return <li> hello </li>
  return <li> World </li>
}

const ListItems = () => {
  return <div>
    <li>Hello</li>
    <li>World</li>
  </div>
}

const ListItems = () => {
  return [
    <li>Hello</li>,
    <li>World</li>,
  ]
}

const ListItems = () => {
  return <Fragment>
    <li>Hello</li>
    <li>World</li>
  </Fragment>
}

const ListItems = () => {
  return <>
    <li>Hello</li>
    <li>World</li>
  </>
}