table {
  border-collapse: collapse;
  border-spacing: 0px;
}
table,
th,
td {
  padding: 5px;
  border: 1px solid black;
}

#another-root {
  position: relative;
  color: red;
  z-index: 2147483647;
}
