class ObjectRef extends Component {
  constructor(props) {
    super(props)
    this.name = React.createRef();
  }
  render() {
    return (
      <div>
        <input
          type={'text'}
          ref={this.name}
          placeholder={"Enter Name"}
        />
        <div>
        <input
          type="button"
          onClick={() => this.name.current.focus()}
          value={"Focus"}
        />
        <input
          type="button"
          onClick={() => this.name.current.value = ""}
          value={"Clear"}
        />
      </div>
      </div>
    )
  }
}

render(ObjectRef)