const portalContainer = document.getElementById('another-root');

const Modal = ({children}) =>
  ReactDOM.createPortal(children, portalContainer)

class App extends React.Component {
  constructor(props) {
    super(props)
    this.state = {modalOpened: false};
    this.toggleModal = this.toggleModal.bind(this)
  }

  toggleModal() {
    this.setState({modalOpened: !this.state.modalOpened})
  }
  
  render() {
    const {counter} = this.state;
    return (
      <div>
        <h1>Home</h1>
        <button onClick={this.toggleModal}>
          Login
        </button>
        {this.state.modalOpened && <Modal>
          Login Content
        </Modal>}
      </div>
    );
  }
}

render(<App />);
